<div class="admin">
  <div class="admin-header">
    <div class="admin-header__title">Админка Хладной Гавани</div>
    <div class="admin-header__btn"><button class="ext">Выход</button></div>
  </div>
  <div class="admin-title">Поменять группу пользователя</div>

  <div class="admin-group">
    <div class="group-container">
      <label class="lebel" for="orginal-link">Ссылка на оригинал</label>
      <input type="text" id="orginal-link" name="orginal__link" class="input" />
    </div>
    <div class="group-container">
      <label class="lebel" for="category">Категория мода</label>

      <select class="select" name="category" id="category">
        <option class="select__value" value="1">Модиратор</option>
        <option class="select__value" value="2">Админ</option>
      </select>
    </div>
    <button class="btn-light"><p>Изменить группу</p></button>
  </div>
  <div class="admin-title">Новые пользователи на сайте</div>
  <div class="users-container">
    <div class="users">
      <div class="users__logo">
        <div class="users__img">
          <img src="../assets/images/adminka-logo.png" alt="" />
        </div>
        <div class="users__name">Marlin</div>
      </div>
      <div class="users__date">16.12.2021</div>
    </div>
    <div class="users">
      <div class="users__logo">
        <div class="users__img">
          <img src="../assets/images/adminka-logo.png" alt="" />
        </div>
        <div class="users__name">Marlin</div>
      </div>
      <div class="users__date">16.12.2021</div>
    </div>
    <div class="users">
      <div class="users__logo">
        <div class="users__img">
          <img src="../assets/images/adminka-logo.png" alt="" />
        </div>
        <div class="users__name">Marlin</div>
      </div>
      <div class="users__date">16.12.2021</div>
    </div>
    <div class="users">
      <div class="users__logo">
        <div class="users__img">
          <img src="../assets/images/adminka-logo.png" alt="" />
        </div>
        <div class="users__name">Marlin</div>
      </div>
      <div class="users__date">16.12.2021</div>
    </div>
    <div class="users">
      <div class="users__logo">
        <div class="users__img">
          <img src="../assets/images/adminka-logo.png" alt="" />
        </div>
        <div class="users__name">Marlin</div>
      </div>
      <div class="users__date">16.12.2021</div>
    </div>
    <div class="users">
      <div class="users__logo">
        <div class="users__img">
          <img src="../assets/images/adminka-logo.png" alt="" />
        </div>
        <div class="users__name">Marlin</div>
      </div>
      <div class="users__date">16.12.2021</div>
    </div>
    <div class="users">
      <div class="users__logo">
        <div class="users__img">
          <img src="../assets/images/adminka-logo.png" alt="" />
        </div>
        <div class="users__name">Marlin</div>
      </div>
      <div class="users__date">16.12.2021</div>
    </div>
    <div class="users">
      <div class="users__logo">
        <div class="users__img">
          <img src="../assets/images/adminka-logo.png" alt="" />
        </div>
        <div class="users__name">Marlin</div>
      </div>
      <div class="users__date">16.12.2021</div>
    </div>
    <div class="users">
      <div class="users__logo">
        <div class="users__img">
          <img src="../assets/images/adminka-logo.png" alt="" />
        </div>
        <div class="users__name">Marlin</div>
      </div>
      <div class="users__date">16.12.2021</div>
    </div>
    <div class="users">
      <div class="users__logo">
        <div class="users__img">
          <img src="../assets/images/adminka-logo.png" alt="" />
        </div>
        <div class="users__name">Marlin</div>
      </div>
      <div class="users__date">16.12.2021</div>
    </div>
  </div>
  <div class="admin-title">Новые комментарии</div>
  <div class="comments-container">
    <div class="comments">
      <div class="comments__info">
        <div class="comments__logo">
          <img src="../assets/images/coments-logo.png" alt="" />
        </div>
        <div class="comments__container">
          <div class="comments__name">Elfstone</div>
          <div class="comments__date">20.12.2021 — 23:15</div>
        </div>
        <button class="comments__exit">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1.21967 1.21967C1.51256 0.926777 1.98744 0.926777 2.28033 1.21967L10 8.93934L17.7197 1.21967C18.0126 0.926777 18.4874 0.926777 18.7803 1.21967C19.0732 1.51256 19.0732 1.98744 18.7803 2.28033L11.0607 10L18.7803 17.7197C19.0732 18.0126 19.0732 18.4874 18.7803 18.7803C18.4874 19.0732 18.0126 19.0732 17.7197 18.7803L10 11.0607L2.28033 18.7803C1.98744 19.0732 1.51256 19.0732 1.21967 18.7803C0.926777 18.4874 0.926777 18.0126 1.21967 17.7197L8.93934 10L1.21967 2.28033C0.926777 1.98744 0.926777 1.51256 1.21967 1.21967Z"
              fill="#E0E0E0"
            />
          </svg>
        </button>
      </div>
      <div class="comments__text">
        Выглядит, как улучшенная броня Тёмного Братства. Хотя видно, что автор
        всё с нуля делал. Хорош костюмчик, но придётся его самому немного
        перепилить… Спасибо автору и переводчику!
      </div>
    </div>
    <div class="comments">
      <div class="comments__info">
        <div class="comments__logo">
          <img src="../assets/images/coments-logo.png" alt="" />
        </div>
        <div class="comments__container">
          <div class="comments__name">Elfstone</div>
          <div class="comments__date">20.12.2021 — 23:15</div>
        </div>
        <button class="comments__exit">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1.21967 1.21967C1.51256 0.926777 1.98744 0.926777 2.28033 1.21967L10 8.93934L17.7197 1.21967C18.0126 0.926777 18.4874 0.926777 18.7803 1.21967C19.0732 1.51256 19.0732 1.98744 18.7803 2.28033L11.0607 10L18.7803 17.7197C19.0732 18.0126 19.0732 18.4874 18.7803 18.7803C18.4874 19.0732 18.0126 19.0732 17.7197 18.7803L10 11.0607L2.28033 18.7803C1.98744 19.0732 1.51256 19.0732 1.21967 18.7803C0.926777 18.4874 0.926777 18.0126 1.21967 17.7197L8.93934 10L1.21967 2.28033C0.926777 1.98744 0.926777 1.51256 1.21967 1.21967Z"
              fill="#E0E0E0"
            />
          </svg>
        </button>
      </div>
      <div class="comments__text">
        Выглядит, как улучшенная броня Тёмного Братства. Хотя видно, что автор
        всё с нуля делал. Хорош костюмчик, но придётся его самому немного
        перепилить… Спасибо автору и переводчику!
      </div>
    </div>
  </div>
</div>
